.form-section {
    background-color: #ffffff; /* Fundo branco */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    color: #2C3E50; /* Azul escuro */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.form-section:hover {
    transform: translateY(-5px); /* Eleva a seção ao passar o mouse */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.form-section h2 {
    background: linear-gradient(135deg, #2C3E50, #4a6683); /* Gradiente de azul escuro para médio */
    color: #ffffff; /* Texto branco */
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    letter-spacing: 1px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc; /* Borda cinza claro */
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ffffff; /* Fundo branco */
    color: #2C3E50; /* Texto azul escuro */
    font-size: 1.5rem;
}

input:focus, textarea:focus {
    border: 1px solid #2C3E50; /* Azul escuro */
    box-shadow: 0 0 5px rgba(44, 62, 80, 0.5);
    outline: none; /* Remove o contorno padrão */
    color: whitesmoke;
    background-color: #5D6D7E; /* Fundo azul claro ao focar */
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc; /* Borda cinza claro */
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ffffff; /* Fundo branco */
    color: #2C3E50; /* Texto azul escuro */
    font-size: 1.5rem;
}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #2C3E50, #34495E); /* Gradiente de azul escuro para médio */
    color: #ffffff; /* Texto branco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

button:hover {
    background: linear-gradient(135deg, #253341, #34495E); /* Gradiente mais escuro */
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

button:active {
    transform: translateY(0); /* Retorna ao normal ao clicar */
    box-shadow: none; /* Remove a sombra ao clicar */
}
