body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

header {
  background-color: #00bfa5;
  text-align: center;
  width: 100vw;
}
nav{
  padding: 2rem;
  background-color: #2C3E50;
}
nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  padding: 50px 0;
  background-color: #00bfa5;
  color: white;
}

.hero img.avatar {
  width: 120px;
  border-radius: 50%;
}

.hero h1 {
  margin: 10px 0;
  font-size: 36px;
}

section {
  padding: 50px 20px;
  text-align: center;
}

#products {
  background-color: #f0f0f0;
}

.products-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-item {
  margin: 20px;
  width: 150px;
  height: 150px;
}

.product-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#about {
  background-color: #00bfa5;
  color: white;
}

#about p {
  width: 70%;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 16px;
}
a{
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
#h2-produto{
  color: black;
}

.button {
    text-align: center;
    margin-top: 20px;
}

.button button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.button button:hover {
    background-color: #45a049; 
} 

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-container .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.nav-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.nav-container ul li {
    display: inline;
}

.nav-container ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-container ul li a:hover {
    background-color: #4CAF50;
    color: white;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.nav-buttons a {
    text-decoration: none;
    color: #4CAF50;
    background-color: white;
    border: 2px solid #4CAF50;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-buttons a:hover {
    background-color: #4CAF50;
    color: white;
}