/* Certifique-se de que o HTML e o body têm altura total */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Defina o layout flexível para o body */
body {
  display: flex;
  flex-direction: column;
}

/* Adiciona espaçamento ao topo para evitar que o conteúdo se sobreponha ao header */
body {
  padding-top: 60px; /* Ajuste o valor conforme necessário */
}

/* Define um espaçamento inferior para o conteúdo principal, para evitar sobreposição do footer */
.main-content {
  flex: 1;
  margin-bottom: 60px; /* Ajuste o valor conforme necessário */
}

/* Header */
header {
  background-color: #00bfa5;
  text-align: center;
  width: 100%;
}

/* Navegação */
nav {
  background-color: #2C3E50;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Hero Section */
.hero {
  padding: 50px 0;
  background-color: #00bfa5;
  color: white;
}

.hero img.avatar {
  width: 120px;
  border-radius: 50%;
}

.hero h1 {
  margin: 10px 0;
  font-size: 36px;
}

/* Seções principais */
section {
  padding: 50px 20px;
  text-align: center;
}

/* Produtos */
#products {
  background-color: #f0f0f0;
}

.products-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-item {
  margin: 20px;
  width: 150px;
  height: 150px;
}

.product-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Sobre */
#about {
  background-color: #00bfa5;
  color: white;
}

#about p {
  width: 70%;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 16px;
}

/* Links */
a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

#h2-produto {
  color: black;
}

/* Botões */
.button {
  text-align: center;
  margin-top: 20px;
}

.button button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.button button:hover {
  background-color: #45a049; 
} 

/* Navegação */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-container .logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.nav-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

.nav-container ul li {
  display: inline;
}

.nav-container ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-container ul li a:hover {
  background-color: #4CAF50;
  color: white;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.nav-buttons a {
  text-decoration: none;
  color: #00bfa5;
  background-color: white;
  border: 2px solid  #00bfa5;

  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-buttons a:hover {
  background-color: #00bfa5;
  color: white;
}

/* Rodapé */
footer {
  background-color: #2C3E50;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

footer p {
  margin: 5px 0;
  font-size: 14px;
}

footer a {
  color: #00bfa5;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

footer .social-media {
  margin: 10px 0;
}

footer .social-media a {
  margin: 0 10px;
  font-size: 24px;
  color: white;
  transition: color 0.3s;
}

footer .social-media a:hover {
  color: #00bfa5;
}

/* Adiciona uma linha horizontal separadora no rodapé */
footer .separator {
  border-top: 1px solid #00bfa5;
  margin: 10px 0;
}
.button-link {
  display: inline-block;
  background-color: #00bfa5;
  color: white;
  text-decoration: none;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.button-link:hover {
  background-color: #00bfa5;
}
