.relatorio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Para empilhar em telas pequenas */
}

.relatorio-produtos {
    max-width: 100rem;
    width: 90%; /* Para garantir que ocupe 90% em telas menores */
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 22, 19, 0.3);
}

.relatorio-produtos h3 {
    background-color: #00bfa5;
    color: #ffffff;
    text-align: center;
    padding: 18px;
    border-radius: 10px;
    margin-bottom: 24px;
    font-size: 2rem;
    font-weight: bold;
}

.relatorio-produtos table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.relatorio-produtos th,
.relatorio-produtos td {
    padding: 15px;
    border: 1px solid #e0e0e0;
    text-align: left;
    font-size: 1.5rem;
}

.relatorio-produtos th {
    background-color: #2C3E50;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.relatorio-produtos td img {
    max-width: 120px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.relatorio-produtos td img:hover {
    transform: scale(1.05);
}

button, .edit {
    background-color: #00bfa5;
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    margin: auto;
    margin-bottom: 1rem;
}

.button:hover,
.edit:hover {
    background-color: #009c8f;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 191, 165, 0.3);
}

.button:focus,
.edit:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 191, 165, 0.3);
}

@media (max-width: 768px) {
    .relatorio {
        margin: 1rem;
    }

    .relatorio-produtos {
        padding: 1rem;
    }

    .relatorio-produtos h3 {
        font-size: 1.5rem; /* Ajustar o tamanho da fonte */
        padding: 15px;
    }

    .relatorio-produtos th,
    .relatorio-produtos td {
        font-size: 1.2rem; /* Ajustar o tamanho da fonte da tabela */
        padding: 10px; /* Reduzir padding em cells */
    }

    button,
    .edit {
        padding: 10px 20px;
        font-size: 1.2rem; /* Ajustar tamanho dos botões */
    }

    .relatorio-produtos td img {
        max-width: 100px; /* Diminuir tamanho da imagem em telas pequenas */
    }
}

@media (max-width: 480px) {
    .relatorio-produtos {
        width: 100%; /* Ocupa 100% em telas pequenas */
    }

    .relatorio-produtos h3 {
        font-size: 1.2rem; /* Ajustar ainda mais o tamanho da fonte */
    }

    .relatorio-produtos th,
    .relatorio-produtos td {
        font-size: 1rem; /* Tamanho ainda menor para a tabela */
    }

    button,
    .edit {
        font-size: 1rem; /* Ajustar tamanho dos botões */
    }
}
