.relatorio {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1.5rem;
}

.relatorio-produtos {
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 191, 165, 0.3);
}

.relatorio-produtos h3 {
    background-color: #00bfa5;
    color: #ffffff;
    text-align: center;
    padding: 18px;
    border-radius: 10px;
    margin-bottom: 24px;
    font-size: 1.25rem;
    font-weight: bold;
}

.relatorio-produtos table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.relatorio-produtos th,
.relatorio-produtos td {
    padding: 15px;
    border: 1px solid #e0e0e0;
    text-align: left;
}

.relatorio-produtos th {
    background-color: #2C3E50;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase; /* Letras maiúsculas para cabeçalhos */
}

.relatorio-produtos td img {
    max-width: 120px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.relatorio-produtos td img:hover {
    transform: scale(1.05);
}

.form-section{
    width: 120rem;
}
.button,
.edit {
    background-color: #00bfa5;
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.button:hover,
.edit:hover {
    background-color: #009c8f;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 191, 165, 0.3);
}

/* Adiciona uma borda ao redor dos botões ao focar */
.button:focus,
.edit:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 191, 165, 0.3);
}

@media (max-width: 768px) {
    .relatorio {
        margin: 1rem;
    }

    .relatorio-produtos {
        padding: 1rem;
    }

    .relatorio-produtos h3 {
        font-size: 1.1rem;
        padding: 15px;
    }

    .relatorio-produtos td {
        padding: 10px;
    }

    .button,
    .edit {
        padding: 10px 20px;
        font-size: 14px;
    }
}
