.card-produto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.card-produto h4 {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #91766d; /* Cor marrom acinzentado */
}

.card-produto button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #91766d; /* Marrom acinzentado */
    color: #ffffff;
    cursor: pointer;
}

.card-produto button:hover {
    background-color: #795d4d; /* Tom mais escuro do marrom */
}
