/* RecentContacts.css */
.sidebar {
    width: 100%;
    padding: 1rem;
    background-color: #91766d; /* Marrom acinzentado */
    border-radius: 5px;
    color: #ffffff; /* Texto branco */
}

.sidebar h3 {
    background-color: #000000; /* Fundo preto */
    text-align: center;
    color: #ffffff; /* Texto branco */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.sidebar p {
    color: #ffffff; /* Texto branco */
}

.lista-recentes {
    display: flex; /* Usado flexbox para organizar as boxes */
    flex-wrap: wrap; /* Permite que as boxes quebrem a linha */
    gap: 20px; /* Espaço entre as boxes */
    margin-top: 20px;
    padding: 10px;
}


.lista-recentes .produto-box {
    background-color: #ffffff; /* Fundo branco */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: #000000; /* Texto preto */
    width: calc(33.33% - 20px); /* Três boxes por linha, com espaço de 20px entre elas */
    box-sizing: border-box;
}

.lista-recentes .produto-box img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.lista-recentes h4 {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #91766d; /* Cor marrom acinzentado */
}

.produtos-recentes {
    font-size: larger;
    padding: 1rem;
    width: 100%;
    border-radius: 20px;
    color: #ffffff;
    background-color: #91766d;
}

/* Responsividade */
@media (max-width: 768px) {
    .lista-recentes .produto-box {
        width: calc(50% - 20px); /* Em telas menores, mostrar 2 boxes por linha */
    }
}

@media (max-width: 480px) {
    .lista-recentes .produto-box {
        width: 100%; /* Em telas muito pequenas, mostrar 1 box por linha */
    }
}
