/* RecentContacts.css */
.sidebar {
    width: 100%;
    padding: 1rem; /* Diminuído o padding para melhorar em telas menores */
    background-color: #91766d; /* Marrom acinzentado */
    border-radius: 5px;
    color: #ffffff; /* Texto branco */
}

.sidebar h3 {
    background-color: #000000; /* Fundo preto */
    text-align: center;
    color: #ffffff; /* Texto branco */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.sidebar p {
    color: #ffffff; /* Texto branco */
}

.lista-recentes {
    background-color: #ffffff; /* Fundo branco */
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: #000000; /* Texto preto */
}

.lista-recentes table {
    width: 100%;
    border-collapse: collapse;
}

.lista-recentes th {
    background-color: #91766d; /* Marrom acinzentado */
    color: #ffffff; /* Texto branco */
    padding: 10px;
    border: 1px solid #ccc; /* Borda cinza claro */
}

.lista-recentes td {
    padding: 10px;
    border: 1px solid #ccc; /* Borda cinza claro */
    text-align: left;
}
.produtos-recentes{
    font-size: larger;
    padding: 1rem;
    width: 100%;
    border-radius: 20px;
    color:#ffffff;
    background-color: #91766d;
}

/* Responsividade */
@media (max-width: 768px) {
    .sidebar {
        padding: 0.5rem; /* Ajuste de padding em telas menores */
    }

    .sidebar h3 {
        font-size: 1.2rem; /* Tamanho do texto reduzido para melhor encaixe */
        padding: 8px;
    }

    .recent-contacts {
        padding: 8px;
    }

    .recent-contacts th, .recent-contacts td {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .sidebar {
        padding: 0.25rem; /* Padding ainda menor para telas muito pequenas */
    }

    .sidebar h3 {
        font-size: 1rem; /* Tamanho do texto ainda menor */
        padding: 6px;
    }

    .recent-contacts th, .recent-contacts td {
        padding: 5px; /* Redução do padding nas células da tabela */
    }
}
